/* Tambahkan styling untuk carousel agar gambar tetap di tengah dan tombol berada di sisi gambar */
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel img {
    max-width: 100%;
    max-height: 500px;
    display: none;
}

.carousel img:first-child {
    display: block;
}

#prevButton, #nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}

