/* Tambahkan styling sesuai kebutuhan */
p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    text-align: center;
    margin: 20px;
}


button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
